body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #333;
    padding-top: 40px;
}
a {
    color: #6491d2;
}
#intro {
    padding-top: 30px;
}
#download-links {
    padding-top: 20px;    
}
#download-links a {
    display: inline-block;
    margin-left: 25px;
}
#download-links a:first-child {
    margin-left: 0px;
}