body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #2c3e50;
    padding-top: 15px;
    background: #f7f7f7;
}
h2 {
    color: #111;
}
a {
    color: #3498db;
}
table {
    margin: 0px auto 65px auto;
}
table thead {
    font-weight: bold;
    color: #111;
}
table#couriers tbody td,
table#zones tbody td {
    opacity: 0.18;
}
table tbody td.currently-connected,
table tbody td.currently-connected ~ td {
    /*background-color: rgba(20,210,0,0.15);*/
    opacity: 1 !important;
}
table tbody tr:hover {
    background: #ecf0f1;
}
table.hide-extra tbody tr:nth-child(n+8) {
    display: none;
}
table.hide-extra.showing-all tbody tr:nth-child(n+8) {
    display: table-row;
}
table td {
    padding: 3px 8px 3px 8px;
}
.late {
    color: #cc0000;
}
td.etas {
    font-size: 11px;
    white-space: nowrap;
}
td.etas strong {
    font-size: 11px;
}
#configForm {
    margin: 20px 0px 40px 0px;
}

.count {
    font-size: 16px;
}

.show-all {
    font-size: 16px;
    color: #3498db;
    font-weight: normal;
    cursor: pointer;
}

.fake-link {
    font-size: 16px;
    color: #3498db;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
}

.only-show-orders h2:not(.part-of-orders),
.only-show-orders table:not(.part-of-orders),
.only-show-orders div:not(.part-of-orders){
    display: none;
}

.manager #users,
.manager #users-heading,
.manager #coupons,
.manager #coupons-heading,
.manager .show-all,
.manager #zones,
.manager #zones-heading,
.manager #coupons,
.manager #coupons-heading,
.manager #stats-section,
.manager #dash-map-orders-link,
.manager .edit-couriers,
.manager #declined-link,
.manager #couriers-on-time-col-header,
.manager .lateness {
    display: none;
}

.no-gps, .no-gps a {
    color: red;
}

#zones .name {
    color: white;
}
