body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #333;
    padding-top: 15px;
}
a {
    color: #6491d2;
}
table {
    margin: 0px auto 65px auto;
}
table thead {
    font-weight: bold;
}
table tbody td.currently-connected, table tbody td.currently-connected ~ td {
    background-color: rgba(20,210,0,0.15);
}
table tbody tr:hover {
    background: #ddd;
}
table.hide-extra tbody tr:nth-child(n+8) {
    display: none;
}
table.hide-extra.showing-all tbody tr:nth-child(n+8) {
    display: table-row;
}
table td {
    padding: 0px 10px 5px 10px;
}
td.late {
    color: #cc0000;
}
#configForm {
    margin: 20px 0px 40px 0px;
}

.count {
    font-size: 16px;
}

#users-emails {
    color: #6491d2;
    font-weight: normal;
    cursor: pointer;
}

.show-all {
    font-size: 16px;
    color: #6491d2;
    font-weight: normal;
    cursor: pointer;
}