body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #2c3e50;
    padding-top: 15px;
    background: #f7f7f7;
}
h2 {
    color: #111;
}
a {
    color: #3498db;
}
table {
    margin: 0px auto 65px auto;
}
table thead {
    font-weight: bold;
    color: #111;
}
table#couriers tbody td {
    opacity: 0.18;
}
table tbody td.currently-connected, table tbody td.currently-connected ~ td {
    /*background-color: rgba(20,210,0,0.15);*/
    opacity: 1 !important;
}
table tbody tr:hover {
    background: #ecf0f1;
}
table.hide-extra tbody tr:nth-child(n+8) {
    display: none;
}
table.hide-extra.showing-all tbody tr:nth-child(n+8) {
    display: table-row;
}
table td {
    padding: 3px 8px 3px 8px;
}
td.late {
    color: #cc0000;
}
#configForm {
    margin: 20px 0px 40px 0px;
}

.count {
    font-size: 16px;
}

.show-all {
    font-size: 16px;
    color: #3498db;
    font-weight: normal;
    cursor: pointer;
}

.fake-link {
    font-size: 16px;
    color: #3498db;
    font-weight: normal;
    cursor: pointer;
}

.only-show-orders h2:not(.part-of-orders),
.only-show-orders table:not(.part-of-orders),
.only-show-orders div:not(.part-of-orders){
    display: none;
}



/* zone colors */
.purple, .purple a {
    background-color: #8e44ad !important;
    color: white;
}
.blue, .blue a {
    background-color: #2980b9 !important;
    color: white;
}
.yellow, .yellow a {
    background-color: #f1c40f !important;
    color: white;
}
.red, .red a {
    background-color: #c0392b !important;
    color: white;
}
.green, .green a {
    background-color: #2ecc71 !important;
    color: white;
}
.orange, .orange a {
    background-color: #f39c12 !important;
    color: white;
}

/* begin dashboard_cljs.js css */
.setCenterUI {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    //float: left;
    margin-bottom: 22px;
    text-align: center;
    margin-left: 10px;
}

.setCenterText {
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 15px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}
/* end google maps widget css */
