<html>
  <head>
    <title>Purple</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href='css/main.css' rel='stylesheet' type='text/css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body>
    <h1 id="heading"></h1>

    <table id="table">
      <thead>
        <tr>
          <td>Status</td>
          <td>Order Placed</td>
          <td>Deadline</td>
          <td>Street</td>
          <td>Gallons</td>
          <td>Total Price</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="status"></td>
          <td class="target_time_start"></td>
          <td class="target_time_end"></td>
          <td class="address_street">
            <a href="#" target="_blank"></a>
          </td>
          <td class="gallons"></td>
          <td class="total_price"></td>
        </tr>
      </tbody>
    </table>

    <div>
      <form id="configForm">
        Gas Price Per Gallon $<input type="text" id="gasPriceDollars" value="" />
        
        <br /><input type="submit" name="configFormSubmit" value="Update" />
      </form>
    </div>
    
    <script>
     $("#configForm").submit(function(e){
       e.preventDefault();
       var key = $(this).find("input[name='key']").val();
       var password = $(this).find("input[name='password']").val();
       $.ajax({
         type: "POST",
         url: "http://purple.elasticbeanstalk.com/user/reset-password",
         data: JSON.stringify(
           {
             "key": key,
             "password": password
           }
         ),
         dataType: "json",
         contentType: 'application/json',
         success: function(response) {
           if (response.success === true) {
             $("#changePasswordForm").fadeOut(400, function(){
               $("#successMessage").fadeIn(400);
             });
           }
         }
       });
     });
    </script>
  </body>
</html>
