<html>
    <head>
        <title>Purple</title>
        <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <link id='mainStyleSheet' href='css/main.css' rel='stylesheet' type='text/css' />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </head>
    <body>
        <span id="config" data-base-url="" data-uri-segment=""></span>

        <div id="last-updated" style="width: 100%; text-align: center;"></div>

        <h2 class="couriers">Couriers <input type="submit" class="edit-couriers" value="Edit"></h2>

        <table id="couriers">
            <thead>
                <tr>
                    <td>Connected</td>
                    <td>Name</td>
		     <td>Phone</td>
                    <td>Busy?</td>
		     <td>Last Seen</td>
                    <td>On time %</td>
                    <td>Zones</td>
                    <td>Location</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="connected"></td>
                    <td class="name"></td>
		     <td class="courier_phone_number"></td>
                    <td class="busy"></td>
		     <td class="last_seen"></td>
                    <td class="lateness"></td>
                    <td class="zones"></td>
                    <td class="location">
                        <a href="#" target="_blank"></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 class="part-of-orders" id="orders-heading">Orders <span class="show-all" data-show-id="orders">[show all]</span> <a href="/dashboard/declined" class="fake-link">[view all declined payments]</a> <a href="/dashboard/dash-map" target="_blank" class="fake-link">[views orders on map]</a></h2>
        
        <table id="orders" class="part-of-orders hide-extra">
            <thead>
                <tr>
                    <td></td>
                    <td>Status</td>
                    <td>Courier</td>
                    <td width="98">Order Placed</td>
                    <td width="98">Deadline</td>
                    <td>Customer</td>
                    <td>Phone</td>
                    <td>Street</td>
                    <td>Gallons</td>
                    <td>Octane</td>
                    <td>Vehicle</td>
                    <td>Plate #</td>
                    <td>Coupon</td>
                    <td>Total Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="cancel"></td>
                    <td class="status"></td>
                    <td class="courier_name"></td>
                    <td class="target_time_start"></td>
                    <td class="target_time_end"></td>
                    <td class="customer_name"></td>
                    <td class="customer_phone_number"></td>
                    <td class="address_street">
                        <a href="#" target="_blank"></a>
                    </td>
                    <td class="gallons"></td>
                    <td class="octane"></td>
                    <td class="color_make_model"></td>
                    <td class="license_plate"></td>
                    <td class="coupon_code"></td>
                    <td class="total_price"></td>
                </tr>
            </tbody>
        </table>
        
        <h2>Users <span class="count" id="users-count"></span> <span class="show-all" data-show-id="users">[show all]</span> <span id="send-push-to-active-users" class="fake-link">[send push notification to all active users]</span> <span id="send-push-to-selected-users" class="fake-link">[send push to selected users]</span></h2>
        
        <table id="users" class="hide-extra">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td>Card?</td>
                    <td>Push?</td>
                    <td>OS</td>
                    <td>Version</td>
                    <td>Joined</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="name"></td>
                    <td class="email"></td>
                    <td class="phone_number"></td>
                    <td class="has_added_card"></td>
                    <td class="push_set_up"></td>
                    <td class="os"></td>
                    <td class="app_version"></td>
                    <td class="timestamp_created"></td>
                </tr>
            </tbody>
        </table>

        <h2>Coupons <span class="show-all" data-show-id="coupons">[show all]</span></h2>
        
        <table id="coupons" class="hide-extra">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Value</td>
                    <td>Expiration</td>
                    <td># of Users</td>
                    <td>For First Order Only?</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="code"></td>
                    <td class="value"></td>
                    <td class="expiration_time"></td>
                    <td class="times_used"></td>
                    <td class="only_for_first_orders"></td>
                </tr>
            </tbody>
        </table>

        <h2 id="zones">Zones <input type="submit" class="edit-zones" value="Edit"></input></h2>
	 <div id="zone-ids"></div>
        <table id="zones" class="hide-extra">
            <thead>
                <tr>
                    <td width="300">Zip Codes</td>
                    <td>Color</td>
                    <td>87 Price</td>
                    <td>91 Price</td>
                    <td>1 Hour Fee</td>
                    <td>3 Hour Fee</td>
                    <td>Service Starts</td>
                    <td>Service Ends</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="zips" width="300"></td>
                    <td class="color"></td>
                    <td class="87-price"></td>
                    <td class="91-price"></td>
                    <td class="1-hr-fee"></td>
                    <td class="3-hr-fee"></td>
                    <td class="service-start"</td>
                    <td class="service-end"</td>
                </tr>
            </tbody>
         </table>
        <div style="text-align: center; padding-bottom: 20px;">
            stats.csv
            <span id="generate-stats-csv" class="fake-link">[initiate a refresh]</span>
            <span id="download-stats-csv" class="fake-link">[download]</span>
        </div>
        
        <script id='dashboardJS' src="js/dashboard.js"></script>
    </body>
</html>
