<html>
  <head>
    <title>Purple</title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href='css/home.css' rel='stylesheet' type='text/css' />

    <meta name="google-site-verification" content="p8p8lk2voaATGPvTE-JVEaZzRP0-PJ3xwfSnrd-ZJj4" />
    
  </head>
  <body>
    <img src="images/purple-logo-dark.png" width="350" />
    <p id="intro">
      <em style="font-size: 1.2em;">On-demand gas delivery right to your car.</em>
      <br /><br />Simply choose your location, enter vehicle and payment information, and press "Request Gas".
    </p>
    <div id="download-links">
      <a href="https://itunes.apple.com/us/app/purple-services/id970824802"><img src="images/app-store.png" height="67" /></a>
      <a href="https://play.google.com/store/apps/details?id=com.purple.app"><img src="images/google-play-store.png" height="67" /></a>
    </p>
  </body>
</html>
