<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="">
        <meta name="author" content="">

        <title></title>

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Google Webfont -->
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,800' rel='stylesheet' type='text/css'>

        <!-- CSS -->
        <link rel="stylesheet" href="css/sliderApp.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/accordion.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/component.css" />

        <!-- SKIN -->
        <link rel="stylesheet" title="blue" href="css/colors/skin-blue.css"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <!-- MODERNIZR -->
        <script src="js/modernizr.custom.js"></script>
        
        <meta name="google-site-verification" content="p8p8lk2voaATGPvTE-JVEaZzRP0-PJ3xwfSnrd-ZJj4" />

    </head>
    <body id="page-top">
        
        <div style="display:none;">
            <img src="css/social/fbover.svg"/>
            <img src="css/social/twover.svg"/>
        </div>  
        
        <div id="body">

	        <!-- HEADER -->
	        <header>
	            <!-- Navigation -->
	            <nav class="navbar navbar-default navbar-top">
		            <div class="container">
		                <div class="col-md-12">
			                <!-- Brand and toggle get grouped for better mobile display -->
			                <div class="navbar-header page-scroll">
			                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				                    <span class="sr-only">Toggle navigation</span>
				                    <span class="icon-bar"></span>
				                    <span class="icon-bar"></span>
				                    <span class="icon-bar"></span>
			                    </button>
			                    <a class="navbar-brand" href="http://purpledelivery.com" style="font-family : Circe-regular"><img src="images/purple_logoWh.png" id="logo-purple" alt="PURPLE"></a>
			                </div>
			                <!-- Collect the nav links, forms, and other content for toggling -->
			                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			                    <ul class="nav navbar-nav navbar-right">
				                    <li><a class="page-scroll" style="color: white !important;" href="#dual-info">About the App</a></li>
				                    <li><a class="page-scroll" href="#features" style="color: white !important;">Area of Service</a></li>
                                    <!-- 							<li><a class="page-scroll" href="#purple" style="color:white!important">Contact</a></li> -->
				                    <li><a class="page-scroll" href="#faq" style="color: white !important;">FAQ</a></li>
			                    </ul>
			                </div>
			                <!-- /.navbar-collapse -->
		                </div>
		            </div>
	            </nav>
	        </header>

	        <!-- INTRO -->
	        <section id="intro" class="intro2">
	            <div class="overlay">
	            </div>
	            <div class="container">
		            <div class="row">
		                <div class="col-md-12">
			                <div class="row">
			                    <div id="responsform">
				                    <!-- <div><img src="images/purple_logoWh.png" id="logo-purple"></div> -->
				                    <div>
                                        <p id="headerp">
                                            <span class="purple-punchline" style="font-size: 3.2em">On-Demand Gas Delivery</span>
                                            <br/>
                                            <br/>
					                        <span class="purple-punchline" style="font-style: italic;">We fuel your car wherever you are</span>
                                        </p>
                                    </div>
                                    
                                    <!-- Begin MailChimp Signup Form -->
				                    <!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css"> -->
				                    <style type="text/css">
				                     #mc_embed_signup{
                                         clear:left;
                                         font:14px Helvetica,Arial,sans-serif;
                                         margin-top: 70px;
                                     }
				                    </style>
				                    <div id="mc_embed_signup">
				                        <form action="//purpledelivery.us11.list-manage.com/subscribe/post?u=bd397467dc0f43fb593302330&amp;id=0efd097c85" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					                        <div id="mc_embed_signup_scroll">
					                            
					                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="EMAIL ADDRESS" required style="width: 20%;padding: 9px;border-radius: 5px;border: none;font-size: 110%;display: inline!important;font-weight: 100;">

                                                <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3" placeholder="ZIP CODE" required style="width: 8%;padding: 9px;border-radius: 5px;border: none;font-size: 110%;display: inline!important;font-weight: 100; margin-padding: 50px;">

                                                <input type="submit" value="JOIN OUR NEWSLETTER!" name="subscribe" id="mc-embedded-subscribe" class="button" style="margin-left: 10px;display: inline!important;border-radius: 7px;background-color: #B91B8D;border: none;color: white;font-weight: 400;font-size: 110%;margin-bottom: 1%;padding: 9px;">

                                                
					                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_bd397467dc0f43fb593302330_0efd097c85" tabindex="-1" value=""></div>
					                            <div class="clear"></div>
					                        </div>
				                        </form>
				                    </div>
                                    
                                    <!--End mc_embed_signup-->  

                                    <!--App Icons-->

                                    <a href="https://itunes.apple.com/us/app/purple-services/id970824802" target="blank"><img id="appstore" src="images/app-store.png" style="height: 75px; margin: 15px;"></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="https://play.google.com/store/apps/details?id=com.purple.app" target="blank"><img id="googleplay" src="images/google-play-store.png" style="height: 75px; margin: 60px;"></a>
				                    
                                    <!--End App Icons-->

			                    </div>
			                </div>
		                </div>
		            </div>
		            <a class="chevron page-scroll" href="#dual-info"><span class="fa fa-chevron-down"></span></a>
	            </div>
	        </section>	
	        <!-- INTRO -->
	        <section id="dual-info" style="padding-top : 10%">
	            <div class="container" style="padding-bottom : 5%">
		            <div class="col-md-6">
		                <div id="slideshow" style= "width : 160%;">
			                <img id="iphoneheader" style="width : 40%; float: left;margin-bottom: 3%" src="images/iphone5_white.png">
			                <div>
			                    <img style="width : 40%; float: left; margin-left : 11.3%" src="images/image.png">
			                </div>
			                <div>
			                    <img style="width : 40%; float: left; margin-left : 11.3%" src="images/image_1.png">
			                </div>
			                <div>
			                    <img style="width : 40%; float: left; margin-left : 11.3%" src="images/image_2.png">
			                </div>
			                <div>
			                    <img style="width : 40%; float: left; margin-left : 11.3%" src="images/image_3.png">
			                </div>
			                <div>
			                    <img style="width : 40%; float: left; margin-left : 11.3%" src="images/image_4.png">
			                </div> 
			                <div>
			                    <img style="width : 40%; float: left; margin-left : 11.3%" src="images/image_5.png">
			                </div> 
			                <div>
			                    <img style="width : 40%; float: left; margin-left : 11.3%" src="images/image_6.png">
			                </div> 
			                <div>
			                    <img style="width : 40%; float: left; margin-left : 11.3%" src="images/image_7.png">
			                </div> 
		                </div>
		            </div>
		            <div class="col-md-6" style="padding-left : 9%">
		                <div class="col-md-11" style="padding-top : 10%;   margin-left: -15%;">
			                <h4 id="starterpack">About The App</h4>
			                <span style="  color: white; font-size: 20px;">
			                    <p style="text-align :justify">You’ve got places to go, but hate stopping at the gas station. You need Purple. Whether you’re home, at the office, or out on a date, Purple will handle the unpleasant experience of stopping for fuel.
                                </p>
                                <p style="text-align :justify">Use the app to choose the type of fuel, the amount you want, and the timeframe you need it in. Then keep on doing what you’re doing. We’ll take care of the rest.
                                </p>    
			                </span>
		                </div>
		            </div>
	        </section>
	        <!-- STATS -->
	        <section id="features" class="map" style="padding-top : 33%;">
	            <div class="container">
		            <div class="row">
		                <!--<div class="col-md-3">
		                <!-- Download App Section -->
                        <!-- 				<div class="app-info">
		                <h3>Download App</h3>
		                <p>Morbi laoreet scelerisque orci finibus ullam corper quam semper utac aliquam magna quis</p>
		                <div class="app-btns">
		                <a href="#" class="fa fa-mobile" title="Download for Iphone"></a>
		                <a href="#" class="fa fa-android" title="Download for Android"></a>
		                <a href="#" class="fa fa-windows" title="Download for Windows"></a>
		                </div>
		                </div> 
		                </div> -->
		                <!-- <h2 id="punchline-area" style="font-size: 30px;color: white;float: left;background-color: rgba(214,146,196,0.6);margin-bottom: 23%;margin-left: 3%;margin-top: 0px;padding: 10px 18px 10px 18px;">AREA OF SERVICE</h2> -->
		                <div id="statinfo" class="col-md-6" style="clear: both">
                            <!-- 					<div class="feature-content" style="margin-bottom : 20px; margin-left : 14%">
			                <p id="infomap" style="font-size : 1.35em;background-color: grey;opacity: 0.9;border-radius: 5px;padding: 3px; margin-left: 16%">Purple is currently ONLY available in the Los Angeles Metro Area. For more information on our delivery routes contact …….</p>
			                </div> -->
			                <div class="feature-content">
			                </div>
		                </div>
		            </div>
	            </div>
	        </section>
	        <!-- STATS -->
            <section id="faq" style="background-color :#752B90!important;padding-top : 50px;">
                <div class="containerfaq">
                    <h1 class="heading-primary">Frequently Asked Questions</h1>
                    <div class="accordion">
                        <dl>
                            <dt>
                                <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">What is Purple?</a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                                <p>Purple provides on-demand filling services. Just download the app and we’ll fill your car, wherever you are.</p>
                            </dd>
                            <dt>
                                <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
                                    Where is Purple available?</a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                                <p>Purple is currently available in Los Angeles and San Diego. More cities coming soon! <a class="page-scroll" href="#features" target="blank">Go to the map</a></p>
                            </dd>
                            <dt>
                                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                    How much does it cost?
                                </a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                <p>Our prices are competitive with the average fuel cost in your area.</p>
                            </dd>
                            <dt>
                                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                    Is there a delivery fee for service?
                                </a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                <p>Currently we only charge a fee of $1 when you choose the 1 hour delivery window. There is no fee when you choose the 3 hour delivery window.</p>
                            </dd>
                            <dt>
                                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                    Do I need to be in my car when Purple is delivering fuel?
                                </a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                <p>No. All you need to do is make sure that the gas tank door is open before the Purple service provider fills your tank. Don’t worry, we’ll make sure it’s tightly shut when we finish!</p>
                            </dd>
                            <dt>
                                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                    How quickly can you fill my tank?
                                </a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                <p>You can choose between a 1 hour or 3 hour delivery window. </p>
                            </dd>
                            <dt>
                                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                    How do I know when the courier is en route? Or when my car has been serviced?
                                </a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                <p>Your app will keep you up to date on the progress of your service. Make sure your notifications are turned on so you don’t miss these updates!</p>
                            </dd>
                            <dt>
                                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                    What kind of fuel will the service provider supply?
                                </a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                <p>You can choose between unleaded 87 octane or unleaded 91 octane fuel.</p>
                            </dd>
                            <dt>
                                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                    How much fuel will be provided?
                                </a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                <p>Choose between a 10 gallon or 15 gallon delivery. </p>
                            </dd>
                            <dt>
                                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                    How secure is my credit card information?
                                </a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                <p>Your credit card information is very secure. The transaction is encrypted with SSL. Credit card numbers are not stored in our database.</p>
                            </dd>
                            <dt>
                                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                    Should I be worried about my car's security during the delivery?
                                </a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                <p>No. Purple service providers are required to comply with all Department of Transportation, Environmental Protection Agency, and local municipalities safety and quality control measures. All of our service providers take pride in providing quality service, and protecting your vehicle. Service providers are fully insured. </p>
                            </dd>
                            <dt>
                                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                    What are your hours of operation?
                                </a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                <p>We accept orders from 7:30am to 10:30pm (PST)</p>
                            </dd>
                            <dt>
                                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                    Can I cancel my order if I change my mind?
                                </a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                <p>Orders can be canceled at any time before servicing has started at no charge.</p>
                            </dd>
                            <dt>
                                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                    How will the service provider find my car?
                                </a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                <p>The service provider will find your car at the location where you place the pin on the map. If they have any trouble finding it they’ll contact you for additional information.</p>
                            </dd>
                            <dt>
                                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                                    Have additional questions? Contact us! 
                                </a>
                            </dt>
                            <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                                <p><a href="mailto:support@purpledelivery.com">Service related questions? support@purpledelivery.com </br> <a href="mailto:fleet@purpledelivery.com"> Join our fleet? fleet@purpledelivery.com <a href="mailto:press@purpledelivery.com"> </br> Media inquiries? press@purpledelivery.com </br> <a href="mailto:info@purpledelivery.com"> Anything else? info@purpledelivery.com
                            </dd>
                        </dl>
                    </div>
                </div>
	        </section>
	        
	        <!-- FOOTER / COPYRIGHT -->
	        <div style="background-color : #000; border-top-width: 0px" class="footer-copy">
	            <div class="container" style="text-align : center">
		            <div style="text-align : center; display: block">
		                <a href="https://www.facebook.com/PurpleServices" target="blank" id="fb" style="margin-right : 10px;"><img src="css/social/fb.svg" onmouseover="this.src='css/social/fbover.svg'" onmouseout="this.src='css/social/fb.svg'"></a>
		                <a href="https://twitter.com/PurpleGasApp" target="blank" id="tw" style="margin-right : 10px;"><img src="css/social/tw.svg" onmouseover="this.src='css/social/twover.svg'" onmouseout="this.src='css/social/tw.svg'"></a>
		                
                        <!--Comment Out Instagram -->    
                        <!--  <a href="https://instagram.com/purpleservices" target="blank" id="tw" style="margin-right : 10px;"><img src="css/social/insta.svg" onmouseover="this.src='css/social/instaover.svg'" onmouseout="this.src='css/social/insta.svg'"></a> -->
                        <a href="mailto:info@purpledelivery.com" target="_top" id="tw" style="margin-right : 10px;"><img src="css/social/mail.svg" onmouseover="this.src='css/social/mailover.svg'" onmouseout="this.src='css/social/mail.svg'"></a>
		            </div>
		            <div class="row" style="margin: 50px 50px 10px 50px;">
		                <div class="col-md-7">
                            <p style="float : left; margin-right: 25px; margin-top: -7px;">
                                <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" /></a>
                            </p>
                            <p id="copy" style="float : left">&copy;2015 Purple Services Inc</p></br>
                                            <p id="copy" style="float : left"><a href="terms">Terms of Service</a></p> 

                                            <!-- Privacy Policy
                                            <p id="copy" style="float : left">&copy;<a href="www.purpledelivery.com/privacy">Privacy Policy</p> 
                                            END Privacy Policy-->

		                </div>
		                <div class="col-md-5">
			                <a class="backtotop page-scroll" href="#page-top">Back to top &Delta;</a>
		                </div>
		            </div>
	            </div>
	        </div> 
	        <!-- FOOTER / COPYRIGHT -->
            <!-- </div> -->

            <!-- Javascript -->
            <script src="js/jquery-2.1.3.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.easing.min.js"></script>
            <script src="js/jquery.countdown.min.js"></script>
            <script src="js/main.js"></script>

            <!--script src="js/stepform/classie.js"></script>
            <script src="js/stepform/stepsForm.js"></script-->

	        <script>
             //uses classList, setAttribute, and querySelectorAll
             //if you want this to work in IE8/9 youll need to polyfill these
             (function(){
                 var d = document,
                     accordionToggles = d.querySelectorAll('.js-accordionTrigger'),
                     setAria,
                     setAccordionAria,
                     switchAccordion,
                     touchSupported = ('onclick' in window),
                     pointerSupported = ('pointerdown' in window);
                 
                 skipClickDelay = function(e){
                     e.preventDefault();
                     e.target.click();
                 }

                 setAriaAttr = function(el, ariaType, newProperty){
                     el.setAttribute(ariaType, newProperty);
                 };
                 setAccordionAria = function(el1, el2, expanded){
                     switch(expanded) {
                         case "true":
                             setAriaAttr(el1, 'aria-expanded', 'true');
                             setAriaAttr(el2, 'aria-hidden', 'false');
                             break;
                         case "false":
                             setAriaAttr(el1, 'aria-expanded', 'false');
                             setAriaAttr(el2, 'aria-hidden', 'true');
                             break;
                         default:
                             break;
                     }
                 };
                 //function
                 switchAccordion = function(e) {
                     e.preventDefault();
                     var thisAnswer = e.target.parentNode.nextElementSibling;
                     var thisQuestion = e.target;
                     if(thisAnswer.classList.contains('is-collapsed')) {
                         setAccordionAria(thisQuestion, thisAnswer, 'true');
                     } else {
                         setAccordionAria(thisQuestion, thisAnswer, 'false');
                     }
                     thisQuestion.classList.toggle('is-collapsed');
                     thisQuestion.classList.toggle('is-expanded');
                     thisAnswer.classList.toggle('is-collapsed');
                     thisAnswer.classList.toggle('is-expanded');
                     
                     thisAnswer.classList.toggle('animateIn');
                 };
                 for (var i=0,len=accordionToggles.length; i<len; i++) {
                     if(touchSupported) {
                         accordionToggles[i].addEventListener('onclick', skipClickDelay, false);
                     }
                     if(pointerSupported){
                         accordionToggles[i].addEventListener('pointerdown', skipClickDelay, false);
                     }
                     accordionToggles[i].addEventListener('click', switchAccordion, false);
                 }
             })();
            </script>

            <script>$("#slideshow > div:gt(0)").hide();
             setInterval(function() { 
                 $('#slideshow > div:first')
             .fadeOut(1000)
             .next()
             .fadeIn(1000)
             .end()
             .appendTo('#slideshow');
             },  3000);
            </script>
	        <script>
			 var theForm = document.getElementById( 'theForm' );
			 var sendEmail = function(data) {
                 $.ajax({
                     url: window.location.href,
                     dataType: "json",
                     method: 'POST',
                     data: data,
                     processData: false,
                     beforeSend: function(){
                         alert('envoie en cours');
                     },success: function (msg) {
                         alert(msg);
                     },error: function(request, status, error){
				         alert(request.responseText);
                     }

                 })
             };

		    </script>

            <script>
             (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

             ga('create', 'UA-61762011-2', 'auto');
             ga('send', 'pageview');

            </script>

    </body>
</html>
