<html>
  <head>
    <title>Purple</title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <style>
     body {
       font-family: 'Open Sans', sans-serif;
       text-align: center;
       color: #752B90;
       padding-top: 45px;
     }
    </style>
  </head>
  <body>
    <span id="config" data-base-url=""></span>
    
    <h1 id="heading"></h1>
    <form action="/" id="changePasswordForm">
      Please enter a new password for <span id="email"></span>:
      <br /><br />
      <input type="hidden" name="key" id="key" value="" />
      <input type="password" name="password" placeholder="New password..." />
      <input type="submit" name="submit" value="Change Password" />
    </form>

    <div id="successMessage" style="display: none;">
      Password changed successfully.
    </div>

    <script>
     $("#changePasswordForm").submit(function(e){
       e.preventDefault();
       var key = $(this).find("input[name='key']").val();
       var password = $(this).find("input[name='password']").val();
       $.ajax({
         type: "POST",
         url: $("#config").data("base-url") + "user/reset-password",
         data: JSON.stringify(
           {
             "key": key,
             "password": password
           }
         ),
         dataType: "json",
         contentType: 'application/json',
         success: function(response) {
           if (response.success === true) {
             $("#changePasswordForm").fadeOut(400, function(){
               $("#successMessage").fadeIn(400);
             });
           }
         }
       });
     });
    </script>
  </body>
</html>
