<h2 style="margin-bottom: 0px; color: #0073C4;">
    TERMS AND CONDITIONS
</h2>
<p>
    <u></u>
    <u></u>
</p>
<h4>
    1. CONTRACTUAL RELATIONSHIP<u></u><u></u>
</h4>
<p>
    <u></u>
    <u></u>
</p>
<p>
    These Terms of Use ("<em>Terms</em>") govern the access or use by you, an individual, from within the United States and its territories and possessions of
    applications, websites, content, products, and services (the "<em>Services</em>") made available in the United States and its territories and possessions
    by Purple Services, inc and its subsidiaries and affiliates (collectively, "<em>Purple</em>"). PLEASE READ THESE TERMS CAREFULLY BEFORE ACCESSING OR USING
    THE SERVICES. In this Agreement, the words "including" and "include" mean "including, but not limited to."<u></u><u></u>
</p>
<p>
    Your access and use of the Services constitutes your agreement to be bound by these Terms, which establishes a contractual relationship between you and
    Purple. If you do not agree to these Terms, you may not access or use the Services. These Terms expressly supersede prior agreements or arrangements with
    you. Purple may immediately terminate these Terms or any Services with respect to you, or generally cease offering or deny access to the Services or any
    portion thereof, at any time for any reason.<u></u><u></u>
</p>
<p>
    Supplemental terms may apply to certain Services, such as policies for a particular event, activity or promotion, and such supplemental terms will be
    disclosed to you in connection with the applicable Services. Supplemental terms are in addition to, and shall be deemed a part of, the Terms for the
purposes of the applicable Services. Supplemental terms shall prevail over these Terms in the event of a conflict with respect to the applicable Services.    <u></u><u></u>
</p>
<p>
    Purple may amend the Terms related to the Services from time to time. Amendments will be effective upon Purple's posting of such updated Terms at this
    location or the amended policies or supplemental terms on the applicable Service. Your continued access or use of the Services after such posting
    constitutes your consent to be bound by the Terms, as amended.<u></u><u></u>
</p>
<p>
    <u></u>
    <u></u>
</p>
<h4>
    2. THE SERVICES<u></u><u></u>
</h4>
<p>
    <u></u>
    <u></u>
</p>
<p>
The Services constitute a technology platform that enables users of Purple's mobile applications or websites provided as part of the Services (each, an "    <em>Application</em>") to arrange and schedule gas delivery services with third party providers of such services, including independent third party
transportation providers and third party logistics providers under agreement with Purple or certain of Purple's subsidiaries ("    <em>Third Party Providers</em>"). Unless otherwise agreed by Purple in a separate written agreement with you, the Services are made available solely for
    your personal, noncommercial use.<u></u><u></u>
</p>
<p>
    YOU ACKNOWLEDGE THAT PURPLE DOES NOT PROVIDE GAS DELIVERY SERVICES OR FUNCTION AS A GAS TRANSPORTATION CARRIER. PURPLE'S SERVICES MAY BE USED BY YOU TO
    REQUEST AND SCHEDULE GAS DELIVERY SERVICES WITH THIRD PARTY PROVIDERS, BUT YOU AGREE THAT PURPLE HAS NO RESPONSIBILITY OR LIABILITY TO YOU RELATED TO ANY
GAS TRANSPORTATION OR LOGISTICS PROVIDED TO YOU BY THIRD PARTY PROVIDERS THROUGH THE USE OF THE SERVICES OTHER THAN AS EXPRESSLY SET FORTH IN THESE TERMS.    <u></u><u></u>
</p>
<p>
    PURPLE DOES NOT GUARANTEE THE SUITABILITY, SAFETY OR ABILITY OF THIRD PARTY PROVIDERS. IT IS SOLELY YOUR RESPONSIBILITY TO DETERMINE IF A THIRD PARTY
    PROVIDER WILL MEET YOUR NEEDS AND EXPECTATIONS. PURPLE WILL NOT PARTICIPATE IN DISPUTES BETWEEN YOU AND A THIRD PARTY PROVIDER. BY USING THE SERVICES, YOU
    ACKNOWLEDGE THAT YOU MAY BE EXPOSED TO SITUATIONS INVOLVING THIRD PARTY PROVIDERS THAT ARE POTENTIALLY UNSAFE, OFFENSIVE, HARMFUL TO MINORS, OR OTHERWISE
    OBJECTIONABLE, AND THAT USE OF THIRD PARTY PROVIDERS ARRANGED OR SCHEDULED USING THE SERVICES IS AT YOUR OWN RISK AND JUDGMENT. PURPLE SHALL NOT HAVE ANY
    LIABILITY ARISING FROM OR IN ANY WAY RELATED TO YOUR TRANSACTIONS OR RELATIONSHIP WITH THIRD PARTY PROVIDERS.<u></u><u></u>
</p>
<h5>
    LICENSE.<u></u><u></u>
</h5>
<p>
    Subject to your compliance with these Terms, Purple grants you a limited, non-exclusive, non-sublicensable, revocable, non-transferrable license to: (i)
    access and use the Applications on your personal device solely in connection with your use of the Services; and (ii) access and use any content,
    information and related materials that may be made available through the Services, in each case solely for your personal, noncommercial use. Any rights not
    expressly granted herein are reserved by Purple and Purple's licensors.<u></u><u></u>
</p>
<h5>
    RESTRICTIONS.<u></u><u></u>
</h5>
<p>
    You may not: (i) remove any copyright, trademark or other proprietary notices from any portion of the Services; (ii) reproduce, modify, prepare derivative
    works based upon, distribute, license, lease, sell, resell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit
    the Services except as expressly permitted by Purple; (iii) decompile, reverse engineer or disassemble the Services except as may be permitted by
    applicable law; (iv) link to, mirror or frame any portion of the Services; (v) cause or launch any programs or scripts for the purpose of scraping,
    indexing, surveying, or otherwise data mining any portion of the Services or unduly burdening or hindering the operation and/or functionality of any aspect
    of the Services; or (vi) attempt to gain unauthorized access to or impair any aspect of the Services or its related systems or networks.<u></u><u></u>
</p>
<p>
    <u></u>
    <u></u>
</p>
<h5>
    THIRD-PARTY SERVICES AND CONTENT.<u></u><u></u>
</h5>
<p>
    The Services may be made available or accessed in connection with third-party services and content (including advertising) that Purple does not control.
    You acknowledge that different terms of use and privacy policies may apply to your use of such third-party services and content. Purple does not endorse
    such third party services and content and in no event shall Purple be responsible or liable for any products or services of such third party providers.
    Additionally, Apple Inc., Google, Inc., Microsoft Corporation or BlackBerry Limited will be a third-party beneficiary to this contract if you access the
    Services using Applications developed for Apple iOS, Android, Microsoft Windows, or Blackberry-powered mobile devices, respectively. These third-party
    beneficiaries are not parties to this contract and are not responsible for the provision or support of the Services in any manner. Your access to the
    Services using these devices is subject to terms set forth in the applicable third-party beneficiary's terms of service.<u></u><u></u>
</p>
<h5>
    OWNERSHIP.<u></u><u></u>
</h5>
<p>
    The Services and all rights therein are and shall remain Purple's property or the property of Purple's licensors. Neither these Terms nor your use of the
    Services convey or grant to you any rights: (i) in or related to the Services except for the limited license granted above; or (ii) to use or reference in
    any manner Purple's company names, logos, product and service names, trademarks or services marks or those of Purple's licensor.<u></u><u></u>
</p>
<h4>
    3. YOUR USE OF THE SERVICES<u></u><u></u>
</h4>
<p>
    <u></u>
    <u></u>
</p>
<h5>
    USER ACCOUNTS.<u></u><u></u>
</h5>
<p>
In order to use most aspects of the Services, you<strong> </strong>must register for and maintain an active personal user Services account ("    <em>Account</em>"). You must be at least 18 years of age, or the age of legal majority in your jurisdiction (if different than 18), to obtain an Account.
    Account registration requires you to submit to Purple certain personal information, such as your name, address, mobile phone number and age, as well as at
    least one valid credit card. You agree to maintain accurate, complete, and up-to-date information in your Account. Your failure to maintain accurate,
    complete, and up-to-date Account information, including having an invalid or expired credit card on file, may result in your inability to access and use
    the Services or Purple's termination of this Agreement with you. You are responsible for all activity that occurs under your Account, and, as such, you
    agree to maintain the security and secrecy of your Account username and password at all times. Unless otherwise permitted by Purple in writing, you may
    only possess one Account.<u></u><u></u>
</p>
<h5>
    USER REQUIREMENTS AND CONDUCT.<u></u><u></u>
</h5>
<p>
    The Service is not available for use by persons under the age of 18. You may not authorize third parties to use your Account, and you may not allow persons
    under the age of 18 to receive transportation or logistics services from Third Party Providers unless they are accompanied by you. You may not assign or
    otherwise transfer your Account to any other person or entity. You agree to comply with all applicable laws when using the Services, and you may only use
    the Services for lawful purposes (<em>e.g.</em>, no transport of unlawful or hazardous materials). You will not in your use of the Services cause nuisance,
    annoyance, inconvenience, or property damage, whether to the Third Party Provider or any other party. In certain instances Purple may require you to
    provide proof of identity to access or use the Services, and you agree that you may be denied access or use of the Services if you refuse to provide proof
    of identity.<u></u><u></u>
</p>
<h5>
    TEXT MESSAGING.<u></u><u></u>
</h5>
<p>
    By creating an Account, you agree that the Services may send you informational text (SMS) messages as part of the normal business operation of your use of
    the Services. <u></u><u></u>
</p>
<h5>
    PROMOTIONAL CODES.<u></u><u></u>
</h5>
<p>
    Purple may, in Purple's sole discretion, create promotional codes that may be redeemed for Account credit or other features or benefits related to a Third
    Party Provider's services, subject to terms that Purple establish on a per promotional code basis ("<em>Promo Codes</em>"). You agree that Promo Codes: (i)
    must be used for the intended audience and purpose, and in a lawful manner; (ii) may not be duplicated, sold or transferred in any manner, or made
    available to the general public, unless expressly permitted by Purple; (iii) may be disabled by Purple at any time for any reason without liability to
    Purple; (iv) may only be used pursuant to the specific terms that Purple establish for such Promo Code; (v) are not valid for cash; and (vi) may expire
    prior to your use. Purple reserves the right to withhold or deduct credits or other features or benefits obtained through the use of Promo Codes by you or
    any other user in the event that Purple determines or believes that the use or redemption of the Promo Code was in error, fraudulent, illegal, or in
    violation of the applicable Promo Code terms or these Terms.<u></u><u></u>
</p>
<h5>
    USER PROVIDED CONTENT.<u></u><u></u>
</h5>
<p>
    Purple may permit you from time to time to submit, upload, publish or otherwise make available to Purple through the Services textual, audio, and/or visual
    content and information, including commentary and feedback related to the Services, initiation of support requests, and submission of entries for
    competitions and promotions ("<em>User Content</em>"). Any User Content provided by you remains your property. However, by providing User Content to
    Purple, you grant Purple a worldwide, perpetual, irrevocable, transferrable, royalty-free license, with the right to sublicense, to use, copy, modify,
    create derivative works of, distribute, publicly display, publicly perform, and otherwise exploit in any manner such User Content in all formats and
    distribution channels now known or hereafter devised (including in connection with the Services and Purple's business and on third-party sites and
    services), without further notice to or consent from you, and without the requirement of payment to you or any other person or entity.<u></u><u></u>
</p>
<p>
    You represent and warrant that: (i) you either are the sole and exclusive owner of all User Content or you have all rights, licenses, consents and releases
    necessary to grant Purple the license to the User Content as set forth above; and (ii) neither the User Content nor your submission, uploading, publishing
    or otherwise making available of such User Content nor Purple's use of the User Content as permitted herein will infringe, misappropriate or violate a third
party's intellectual property or proprietary rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.    <u></u><u></u>
</p>
<p>
    You agree to not provide User Content that is defamatory, libelous, hateful, violent, obscene, pornographic, unlawful, or otherwise offensive, as
    determined by Purple in its sole discretion, whether or not such material may be protected by law. Purple may, but shall not be obligated to, review,
    monitor, or remove User Content, at Purple's sole discretion and at any time and for any reason, without notice to you.<u></u><u></u>
</p>
<h5>
    NETWORK ACCESS AND DEVICES.<u></u><u></u>
</h5>
<p>
    You are responsible for obtaining the data network access necessary to use the Services. Your mobile network's data and messaging rates and fees may apply
    if you access or use the Services from a wireless-enabled device. You are responsible for acquiring and updating compatible hardware or devices necessary
    to access and use the Services and Applications and any updates thereto. Purple does not guarantee that the Services, or any portion thereof, will function
    on any particular hardware or devices. In addition, the Services may be subject to malfunctions and delays inherent in the use of the Internet and
    electronic communications.<u></u><u></u>
</p>
<h4>
    4. PAYMENT<u></u><u></u>
</h4>
<p>
    <u></u>
    <u></u>
</p>
<p>
    You understand that use of the Services may result in payments by you for the services you receive from a Third Party Provider ("<em>Charges</em>"). After
    you have received services obtained through your use of the Service, Purple will facilitate payment of the applicable Charges on behalf of the Third Party
    Provider, as such Third Party Provider's limited payment collection agent, using the preferred payment method designated in your Account, and will send you
    a receipt by email. Payment of the Charges in such manner shall be considered the same as payment made directly by you to the Third Party Provider. Charges
    will be inclusive of applicable taxes where required by law. Charges paid by you are final and non-refundable, unless otherwise determined by Purple. You
    retain the right to request lower Charges from a Third Party Provider for services received by you from such Third Party Provider at the time you receive
    such services. Purple will respond accordingly to any request from a Third Party Provider to modify the Charges for a particular service.<u></u><u></u>
</p>
<p>
    All Charges are due immediately and payment will be facilitated by Purple using the preferred payment method designated in your Account. If your primary
    Account payment method is determined to be expired, invalid or otherwise not able to be charged, you agree that Purple may, as the Third Party Provider's
    limited payment collection agent, use a secondary payment method in your Account, if available.<u></u><u></u>
</p>
<p>
    Purple reserves the right to establish, remove and/or revise Charges for any or all aspects of the Services at any time in Purple's sole discretion.
    Further, you acknowledge and agree that Charges applicable in certain geographical areas may increase substantially during times of high demand of the
    Services. Purple will use reasonable efforts to inform you of Charges that may apply, provided that you will be responsible for Charges incurred under your
    Account regardless of your awareness of such Charges or the amounts thereof. Purple may from time to time provide certain users with promotional offers and
    discounts that may result in different Charges for the same or similar Services, and you agree that such promotional offers and discounts, unless also made
    available to you, shall have no bearing on your use of the Services or the Charges applied to you. You may elect to cancel your request for Services from a
    Third Party Provider at any time prior to such Third Party Provider's arrival, in which case you may be charged a cancellation fee.<u></u><u></u>
</p>
<p>
    This payment structure is intended to fully compensate the Third Party Provider for the services provided. Except with respect to taxicab transportation
    services requested through the Application, Purple does not designate any portion of your payment as a tip or gratuity to the Third Party Provider. Any
    representation by Purple to the effect that tipping is "voluntary," "not required," and/or "included" in the payments you make for services provided is not
    intended to suggest that Purple provides any additional amounts, beyond those described above, to the Third Party Provider. You understand and agree that,
    while you are free to provide additional payment as a gratuity to any Third Party Provider who provides you with services obtained through the Service, you
    are under no obligation to do so. Gratuities are voluntary. After you have received services obtained through the Service, you will have the opportunity to
    rate your experience and leave additional feedback about your Third Party Provider. In the event you feel unwelcome pressure to provide a gratuity, you may
    factor that experience into the rating or additional feedback you give.<u></u><u></u>
</p>
<h5>
    REPAIR OR CLEANING FEES.<u></u><u></u>
</h5>
<p>
    You shall be responsible for the cost of repair for damage to, or necessary cleaning of, Third Party Provider vehicles and property resulting from your use
    of the Services in excess of normal "<em>wear and tear</em>" damages and necessary cleaning ("<em>Repair or Cleaning</em>"). In the event that a Third
    Party Provider reports the need for Repair or Cleaning, and such Repair or Cleaning request is verified by Purple in Purple's reasonable discretion, Purple
    reserves the right to facilitate payment for the reasonable cost of such Repair or Cleaning on behalf of the Third Party Provider using your preferred
payment method designated in your Account. Such amounts will be transferred by Purple to the applicable Third Party Provider and are non-refundable.<u></u>    <u></u>
</p>
<h4>
    5. DISCLAIMERS; LIMITATION OF LIABILITY; INDEMNITY<u></u><u></u>
</h4>
<p>
    <u></u>
    <u></u>
</p>
<h5>
    DISCLAIMER.<u></u><u></u>
</h5>
<p>
    THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE." PURPLE DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES, EXPRESS, IMPLIED, OR STATUTORY, NOT EXPRESSLY
    SET OUT IN THESE TERMS, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN ADDITION, PURPLE
    MAKES NO REPRESENTATION, WARRANTY, OR GUARANTEE REGARDING THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY, OR AVAILABILITY OF THE SERVICES OR ANY GOODS
    OR SERVICES OBTAINED THROUGH THE USE OF THE SERVICES, OR THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE. YOU AGREE THAT THE ENTIRE RISK ARISING OUT
    OF YOUR USE OF THE SERVICES, AND ANY THIRD PARTY GOOD OR SERVICES OBTAINED IN CONNECTION THEREWITH, REMAINS SOLELY WITH YOU, TO THE MAXIMUM EXTENT
    PERMITTED BY APPLICABLE LAW.<u></u><u></u>
</p>
<p>
THIS DISCLAIMER DOES NOT ALTER YOUR RIGHTS AS A CONSUMER TO THE EXTENT NOT PERMITTED UNDER THE LAW IN THE JURISDICTION OF YOUR PLACE OF RESIDENCE.<u></u>    <u></u>
</p>
<h5>
    LIMITATION OF LIABILITY.<u></u><u></u>
</h5>
<p>
    PURPLE SHALL NOT BE LIABLE TO YOU FOR INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOST DATA,
    PERSONAL INJURY, OR PROPERTY DAMAGE, EVEN IF PURPLE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. PURPLE SHALL NOT BE LIABLE FOR ANY DAMAGES,
    LIABILITY OR LOSSES INCURRED BY YOU ARISING OUT OF: (i) YOUR USE OF OR RELIANCE ON THE SERVICES OR YOUR INABILITY TO ACCESS OR USE THE SERVICES; OR (ii)
    ANY TRANSACTION OR RELATIONSHIP BETWEEN YOU AND ANY THIRD PARTY PROVIDER, EVEN IF PURPLE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. PURPLE SHALL
    NOT BE LIABLE FOR DELAY OR FAILURE IN PERFORMANCE RESULTING FROM CAUSES BEYOND PURPLE'S REASONABLE CONTROL. <u></u><u></u>
</p>
<p>
    THESE LIMITATIONS DO NOT PURPORT TO LIMIT LIABILITY THAT CANNOT BE EXCLUDED UNDER THE LAW IN THE JURISDICTION OF YOUR PLACE OF RESIDENCE.<u></u><u></u>
</p>
<h5>
    INDEMNITY.<u></u><u></u>
</h5>
<p>
    You agree to indemnify and hold Purple and its officers, directors, employees and agents, harmless from any and all claims, demands, losses, liabilities,
    and expenses (including attorneys' fees), arising out of or in connection with: (i) your use of the Services; (ii) your breach or violation of any of these
    Terms; (iii) Purple's use of your User Content; or (iv) your violation of the rights of any third party, including Third Party Providers.<u></u><u></u>
</p>
<h4>
    6. DISPUTE RESOLUTION<u></u><u></u>
</h4>
<p>
    <u></u>
    <u></u>
</p>
<h5>
    ARBITRATION.<u></u><u></u>
</h5>
<p>
    You agree that any dispute, claim or controversy arising out of or relating to these Terms or the breach, termination, enforcement, interpretation or
    validity thereof or the use of the Services (collectively, "<em>Disputes</em>") will be settled by binding arbitration between you and Purple, except that
    each party retains the right to bring an individual action in small claims court and the right to seek injunctive or other equitable relief in a court of
    competent jurisdiction to prevent the actual or threatened infringement, misappropriation or violation of a party's copyrights, trademarks, trade secrets,
    patents or other intellectual property rights. You acknowledge and agree that you and Purple are each waiving the right to a trial by jury or to
    participate as a plaintiff or class in any purported class action or representative proceeding. Further, unless both you and Purple otherwise agree in
    writing, the arbitrator may not consolidate more than one person's claims, and may not otherwise preside over any form of any class or representative
    proceeding. If this specific paragraph is held unenforceable, then the entirety of this "Dispute Resolution" section will be deemed void. Except as
    provided in the preceding sentence, this "Dispute Resolution" section will survive any termination of these Terms.<u></u><u></u>
</p>
<h5>
    ARBITRATION RULES AND GOVERNING LAW.<u></u><u></u>
</h5>
<p>
    The arbitration will be administered by the American Arbitration Association ("<em>AAA</em>") in accordance with the Commercial Arbitration Rules and the
    Supplementary Procedures for Consumer Related Disputes (the "<em>AAA Rules</em>") then in effect, except as modified by this "Dispute Resolution" section.
(The AAA Rules are available at <a href="http://www.adr.org/arb_med" target="_blank">www.adr.org/arb_med</a> or by calling the AAA at    <a href="tel:1-800-778-7879" value="+18007787879" target="_blank">1-800-778-7879</a>.) The Federal Arbitration Act will govern the interpretation and
    enforcement of this Section.<u></u><u></u>
</p>
<h5>
    ARBITRATION PROCESS.<u></u><u></u>
</h5>
<p>
    A party who desires to initiate arbitration must provide the other party with a written Demand for Arbitration as specified in the AAA Rules. (The AAA
    provides a form Demand for Arbitration at
    <a href="http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_004175" target="_blank">
        www.adr.org/aaa/ShowPDF?doc=
        <wbr>
            ADRSTG_004175
        </wbr>
    </a>
    and a separate form for California residents at
    <a href="http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_015822" target="_blank">
        www.adr.org/aaa/ShowPDF?doc=
        <wbr>
            ADRSTG_015822
        </wbr>
    </a>
    .) The arbitrator will be either a retired judge or an attorney licensed to practice law in the state of California and will be selected by the parties
    from the AAA's roster of consumer dispute arbitrators. If the parties are unable to agree upon an arbitrator within seven (7) days of delivery of the
    Demand for Arbitration, then the AAA will appoint the arbitrator in accordance with the AAA Rules.<u></u><u></u>
</p>
<h5>
    ARBITRATION LOCATION AND PROCEDURE.<u></u><u></u>
</h5>
<p>
    Unless you and Purple otherwise agree, the arbitration will be conducted in the county where you reside. If your claim does not exceed $10,000, then the
    arbitration will be conducted solely on the basis of documents you and Purple submit to the arbitrator, unless you request a hearing or the arbitrator
    determines that a hearing is necessary. If your claim exceeds $10,000, your right to a hearing will be determined by the AAA Rules. Subject to the AAA
    Rules, the arbitrator will have the discretion to direct a reasonable exchange of information by the parties, consistent with the expedited nature of the
    arbitration.<u></u><u></u>
</p>
<h5>
    ARBITRATOR'S DECISION.<u></u><u></u>
</h5>
<p>
    The arbitrator will render an award within the time frame specified in the AAA Rules. The arbitrator's decision will include the essential findings and
    conclusions upon which the arbitrator based the award. Judgment on the arbitration award may be entered in any court having jurisdiction thereof. The
    arbitrator's award damages must be consistent with the terms of the "Limitation of Liability" section above as to the types and the amounts of damages for
    which a party may be held liable. The arbitrator may award declaratory or injunctive relief only in favor of the claimant and only to the extent necessary
    to provide relief warranted by the claimant's individual claim. If you prevail in arbitration you will be entitled to an award of attorneys' fees and
    expenses, to the extent provided under applicable law. Purple will not seek, and hereby waives all rights Purple may have under applicable law to recover,
    attorneys' fees and expenses if Purple prevail in arbitration.<u></u><u></u>
</p>
<h5>
    FEES.<u></u><u></u>
</h5>
<p>
    Your responsibility to pay any AAA filing, administrative and arbitrator fees will be solely as set forth in the AAA Rules. However, if your claim for
    damages does not exceed $75,000, Purple will pay all such fees unless the arbitrator finds that either the substance of your claim or the relief sought in
    your Demand for Arbitration was frivolous or was brought for an improper purpose (as measured by the standards set forth in Federal Rule of Civil Procedure
    11(b)).<u></u><u></u>
</p>
<h5>
    CHANGES.<u></u><u></u>
</h5>
<p>
    Notwithstanding the provisions of the modification-related provisions above, if Purple changes this "Dispute Resolution" section after the date you first
    accepted these Terms (or accepted any subsequent changes to these Terms), you may reject any such change by providing Purple written notice of such
    rejection by mail or hand delivery to: Purple Services - 504 N Hillcrest road - Beverly Hills, CA 90210. In order to be effective, the notice must include
    your full name and clearly indicate your intent to reject changes to this "Dispute Resolution" section. By rejecting changes, you are agreeing that you
    will arbitrate any Dispute between you and Purple in accordance with the provisions of this "Dispute Resolution" section as of the date you first accepted
    these Terms (or accepted any subsequent changes to these Terms).<u></u><u></u>
</p>
<h4>
    7. OTHER PROVISIONS<u></u><u></u>
</h4>
<p>
    <u></u>
    <u></u>
</p>
<h5>
    CHOICE OF LAW.<u></u><u></u>
</h5>
<p>
    These Terms are governed by and construed in accordance with the laws of the State of California, U.S.A., without giving effect to any conflict of law
    principles.<u></u><u></u>
</p>
<h5>
    CLAIMS OF COPYRIGHT INFRINGEMENT.<u></u><u></u>
</h5>
<p>
    Claims of copyright infringement should be sent to Purple's designated agent. <u></u><u></u>
</p>
<h5>
    NOTICE.<u></u><u></u>
</h5>
<p>
    Purple may give notice by means of a general notice on the Services, electronic mail to your email address in your Account, or by written communication
    sent by first class mail or pre-paid post to your address in your Account. Such notice shall be deemed to have been given upon the expiration of 48 hours
    after mailing or posting (if sent by first class mail or pre-paid post) or 12 hours after sending (if sent by email). You may give notice to Purple, with
    such notice deemed given when received by Purple, at any time by first class mail or pre-paid post to Purple Services - 504 N Hillcrest road - Beverly
    Hills, CA 90210.<u></u><u></u>
</p>
<h5>
    GENERAL.<u></u><u></u>
</h5>
<p>
    You may not assign these Terms without Purple's prior written approval. Purple may assign these Terms without your consent to: (i) a subsidiary or
    affiliate; (ii) an acquirer of Purple's equity, business or assets; or (iii) a successor by merger. Any purported assignment in violation of this section
    shall be void. No joint venture, partnership, employment, or agency relationship exists between you, Purple or any Third Party Provider as a result of this
    Agreement or use of the Services. If any provision of these Terms is held to be invalid or unenforceable, such provision shall be struck and the remaining
    provisions shall be enforced to the fullest extent under law. Purple's failure to enforce any right or provision in these Terms shall not constitute a
    waiver of such right or provision unless acknowledged and agreed to by Purple in writing.
</p>
<div>
</div>
